<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>





{{#each values}}

<h1>{{@index}}.{{this}}</h1>

{{/each}}






<h1>{{person.comments.comment}}</h1>





{{#with person}}
{{#with comments}}

<h1>{{comment}}</h1>

{{/with}}

{{/with}}





{{#if present.count}}

<h1>This is normal</h1>

{{else}}

<h1>This is abnormal</h1>

{{/if}}